* {
	border: none;
	border-radius: 0;
	font-family: "JetBrainsMono Nerd Font";
	min-height: 0;
}

window#waybar {
	background: transparent;
	color: white;
}

#window {
	font-weight: bold;
	font-family: "JetBrainsMono Nerd Font";
	margin-left: 5px;
}

#pulseaudio {
}

#battery {
}

#clock {
}

#workspaces {
}

#workspaces button {
	color: grey;
}

#workspaces button.visible {
	font-size: 20px;
	color: #a3be8c;
}

#workspaces button.focused {
	border-bottom: 5px solid #bf616a;
}

#network {
}

#mode {
	background: #bf616a;
	font-size: 20px;
	padding-right: 20px;
	padding-left: 12px
}

#custom-cap-left, #custom-cap-right {
	font-size: 31px;
	color: #809575;
	padding-right: 10px;
}

#idle_inhibitor, #custom-phone_stat, #cpu, #temperature, #memory, #pulseaudio, #battery, #clock, #network {
	font-size: 15px;
	padding-right: 10px;
	padding-left: 10px;
	background: #809575;
	color: #3b4252;
}

#idle_inhibitor {
	font-size: 20px;
	padding-right: 15px;
}


